doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Home page — MNTN
        link(rel="shortcut icon", href="/images/icons/favicon.png", type="image/x-icon")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        .cover-space 
        header.header 
            .header__content
                a.logo(href="/")
                    h1.logo__title MTNT 
                nav.main-nav.header__center 
                    ul.main-nav__list 
                        li.main-nav__item 
                            a.main-nav__link.main-nav__link_active(href="/") Equipment
                        li.main-nav__item 
                            a.main-nav__link(href="/") About us
                        li.main-nav__item 
                            a.main-nav__link(href="/") Blog 
                .account 
                    .account__icon 
                    a.account__form(href="/") Account