doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Home page — MNTN
        link(rel="shortcut icon", href="/images/icons/favicon.png", type="image/x-icon")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        .cover-space 
        header.header 
            .header__content
                a.logo(href="/")
                    h1.logo__title MNTN 
                nav.main-nav.header__center 
                    ul.main-nav__list 
                        li.main-nav__item 
                            a.main-nav__link.main-nav__link_active(href="/") Equipment
                        li.main-nav__item 
                            a.main-nav__link(href="/") About us
                        li.main-nav__item 
                            a.main-nav__link(href="/") Blog 
                .account 
                    .account__icon 
                    a.account__form(href="/") Account
        section.section.section__main
            .main-title 
                .main-title__summary A hiking guide
                h1.main-title__text Be Prepared For The Mountains And Beyond!
                .scroll-down 
                    | Scroll down 
                    .scroll-down__icon.icon__arrow_downward
            .social-networks 
                h3.social-networks__title Follow us
                ul.social-networks__list 
                    li.social-networks__item 
                        a.social-networks__link(href="#")
                            .icon__instagram
                    li.social-networks__item 
                        a.social-networks__link(href="#")
                            .icon__twitter 
            .nav-menu 
                h3.nav-menu__title Start
                ul.nav-menu__list
                    li.nav-menu__item 
                        a.nav-menu__link(href="#") 01
                    li.nav-menu__item 
                        a.nav-menu__link(href="#") 02
                    li.nav-menu__item 
                        a.nav-menu__link(href="#") 03
        .content 
            section.section-cols
                .section-col.section-col__content
                    .main-title.main-title_small
                        span.main-title__summary Get started
                        h2.main-title__text What level of hiker are you?
                    p Determining what level of&nbsp;hiker you are can be an&nbsp;important tool when planning future hikes. This hiking level guide will help you plan hikes according to&nbsp;different hike ratings set by&nbsp;various websites like All Trails and Modern Hiker. What type of&nbsp;hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
                    a.arrow-link(href="#")
                        | read more
                        .arrow-link__icon.icon__arrow_rightward
                img.section-col.section-col__image(src="/images/GetStarted.png" alt="Mountains")
                