doctype html
html(lang="ru") 
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        title Home page — MNTN
        link(rel="shortcut icon", href="./images/icons/favicon.png", type="image/x-icon")
        link(rel="stylesheet" href="./css/reset.css")
        link(rel="stylesheet" href="./css/index.css")
    body
        .cover-space 
        header.header 
            .header__content
                a.logo(href="/")
                    h1.logo__title MNTN 
                .burger-menu
                    .burger-menu__content
                        nav.main-nav.header__center 
                            ul.main-nav__list 
                                li.main-nav__item 
                                    a.main-nav__link.main-nav__link_active(href="/") Equipment
                                li.main-nav__item 
                                    a.main-nav__link(href="/") About us
                                li.main-nav__item 
                                    a.main-nav__link(href="/") Blog 
                        .account 
                            .account__icon 
                            a.account__form(href="/") Account
            button.burger-menu__control
            .cover-space__burger
        section.section.section__main
            .main-title 
                .main-title__summary A hiking guide
                h1.main-title__subtitle Be Prepared For The Mountains And Beyond!
                a.scroll-down(href="#section-01")
                    | Scroll down 
                    .scroll-down__icon.icon__arrow_downward
            .social-networks 
                h3.social-networks__title Follow us
                ul.social-networks__list 
                    li.social-networks__item 
                        a.social-networks__link(href="/")
                            .icon__instagram
                    li.social-networks__item 
                        a.social-networks__link(href="/")
                            .icon__twitter 
            .nav-menu 
                h3.nav-menu__title Start
                ul.nav-menu__list
                    li.nav-menu__item 
                        a.nav-menu__link(href="#section-01") 01
                    li.nav-menu__item 
                        a.nav-menu__link(href="#section-02") 02
                    li.nav-menu__item 
                        a.nav-menu__link(href="#section-03") 03
        .content 
            section.section-cols#section-01
                .section-col.section-col__content
                    span.main-title__number 01
                    .main-title.main-title_small
                        span.main-title__summary Get started
                        h2.main-title__subtitle What level of hiker are you?
                    .main-title__text
                        p Determining what level of&nbsp;hiker you are can be an&nbsp;important tool when planning future hikes. This hiking level guide will help you plan hikes according to&nbsp;different hike ratings set by&nbsp;various websites like All Trails and Modern Hiker. What type of&nbsp;hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
                        a.arrow-link(href="#")
                            | read more
                            .arrow-link__icon.icon__arrow_rightward
                img.section-col.section-col__image(src="./images/GetStarted.png" alt="Mountains")
            section.section-cols#section-02
                img.section-col.section-col__image(src="./images/HikingEssentials.png" alt="HikingEssentials")
                .section-col.section-col__content
                    span.main-title__number 02
                    .main-title.main-title_small
                        span.main-title__summary Hiking Essentials
                        h2.main-title__subtitle Picking the right Hiking Gear!
                    .main-title__text
                        p The nice thing about beginning hiking is&nbsp;that you don’t really need anyvspecial gear, you&nbsp;can probably get away with&nbsp;things you&nbsp;already have. Let’s start with clothing. A&nbsp;typical mistake hiking beginners make is&nbps;wearing jeans and&nbsp;regular clothes, which will get heavy and&nbsp;chafe wif they get sweaty or&nbsp;wet.
                        a.arrow-link(href="#")
                            | read more
                            .arrow-link__icon.icon__arrow_rightward
            section.section-cols#section-03
                .section-col.section-col__content
                    span.main-title__number 03
                    .main-title.main-title_small
                        span.main-title__summary Where you go is the key
                        h2.main-title__subtitle Understand Your Map &amp; Timing
                    .main-title__text
                        p To start, print out the&nbsp;hiking guide map. If&nbsp;it’s raining, throw them in&nbsp;a&nbsp;Zip-Lock bag. Read over the&nbsp;guide, study the&nbsp;map, and have a&nbsp;good idea of&nbsp;what to&nbsp;expect. I like to&nbsp;know what my next landmark is as&nbsp;I hike. For&nbsp;example, I’ll read the&nbsp;guide and know that&nbsp;say, in&nbsp;a&nbsp;mile, I make a&nbsp;right turn at&nbsp;the&nbsp;junction.
                        a.arrow-link(href="#")
                            | read more
                            .arrow-link__icon.icon__arrow_rightward
                img.section-col.section-col__image(src="./images/MapTiming.png" alt="Mountains")
            footer.footer#footer
                .footer__content
                    .copyrights  
                        h3.copyrights__title MNTN
                        p Get out there &amp; discover your next slope, mountain &amp; destination!
                        span Copyright 2023 MNTN, Inc. Terms &amp; Privacy
                    .menu-content
                        .menu
                            h4.menu__title More on The Blog 
                            ul.menu__list 
                                each link in ['About MNTN', '', 'Contributors & Writers', 'Write For Us', 'Contact Us', 'Privacy Policy']
                                    li.menu__item 
                                        a.menu__link(href="#")= link
                        .menu
                            h4.menu__title More on MNTN
                            ul.menu__list 
                                each link in ['The Team', 'Jobs', 'Press']
                                    li.menu__item 
                                        a.menu__link(href="#")= link 
        script(src="./js/index.js")